
/* mulai css */

* {
    box-sizing: border-box;
}

body {
    background-color: #ece4df;
}

.container {
    border: 1px solid #d4c6c6;
    max-width: 1100px;
    margin: 0 auto 10px;
    padding: 0 20px;
    font-family: Arial, Helvetica, sans-serif;
    display: flex;
}

article {
    margin: 30px 0 10px;
    flex:  2;
}

article .judul h1 {
    font-size: 40px;
    padding:0 0 0 10px;
}

article .judul p {
    font-size: 13px;
    padding:0 0 0 10px;
}

article .judul p a {
    text-decoration: none;
    color: #1b2041;
}

article .gambar .hero {
    width: 100%;
    height: 400px;
	background-image: url("hero.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    margin-bottom: 20px;
    border-radius: 0 0 5px 5px;
}

article .gambar .pinggiran span {
    height: 5px;
    float: left;
}
article .gambar .pinggiran span:nth-child(1){
    width: 33%;
    background-color: #ff0000;
    border-radius: 6px 0 0 0;
}
article .gambar .pinggiran span:nth-child(2){
    width: 34%;
    background-color: #00ff00;
}
article .gambar .pinggiran span:nth-child(3){
    width: 33%;
    background-color: #1100ff;
    border-radius: 0 6px 0 0;
}

article .artikel {
    background-color: #fff;
    padding: 10px;
    border: 1px solid #dfbfbf;
}
article .artikel p {
    font-size: 18px;
}

aside {
    flex: 1;
    margin: 108px 0 10px 20px;
    display: flex;
    flex-direction: column;
}

aside .artikel-terkait {
    background-color: #fff;
    order: 2;
}
aside .artikel-terkait h1 {
    text-align: center;
    font-size: 25px;
    margin-bottom: -10px;
}
aside .artikel-terkait span {
    display: inline-block;
    margin: 0px 36%;
    width: 30%;
    height: 5px;
    background-color: #1e31b1;
    margin-bottom: -4px;
}

aside .artikel-terkait table {
    border-collapse: collapse;
}
aside .artikel-terkait table td {
    border: 1px solid #50ee34;
    border-top: 1px solid gray;
}
aside .artikel-terkait table td a {
    text-decoration: none;
    color: black;
    display: inline-block;
    padding: 4px 9px;
}
aside .artikel-terkait table td:nth-child(1) {
    width: 150px;
    background-color: #1e31b1;
    text-align: center;
    color: #fff;
    font-size: 25px;
}
aside .artikel-terkait table td:nth-child(2) {
    width: 100vw;
}
aside .artikel-terkait table td:nth-child(2) a:hover {
    background-color: #0b1fd3;
    transition: 0.5s;
    color: white;
}

aside .iklan1 {
    width:100%;
    height: 250px;
    border: 1px solid #fff;
    background-color: red;
    order: 1;
    margin-bottom: 20px;
}
aside .iklan1 p {
    font-size: 40px;
    line-height: 250px;
    text-align: center;
}









/* ukuran tablet */
@media screen and (max-width: 769px) {
    .container {
        display: inline-block;
    }
    article {
        margin-top: 90px;
        padding: 10px;
    }
    aside {
        padding:0 10px 10px;
    }
}

@media screen and (max-width: 685px) {
    }
    aside .artikel-terkait {
        width: 100%;
    }
}