* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.clear {clear: both;}

nav {
    left: 0;
    right: 0;
    margin: auto;
    max-width: 1100px;
    background-color: #1b2041;
    padding:10px 40px 10px 70px;
    border: 2px solid #0f111b;
    border-left: none;
    border-right: none;
}

nav .logo {
    float: left;
    font-size: 30px;
    font-weight: 700;
    color: #fff;
}

nav ul {
    position: relative;
    display: flex;
    list-style: none;
    flex-wrap: wrap;
    align-items: center;
    justify-content: right;
    float: right;
}

nav ul a {
    display: inline-block;
    text-decoration: none;
    padding:10px 10px;
    border-radius: 4px;
    color: #fff;
}

nav ul a:hover {
    background-color: firebrick;
    padding:9px 8px;
    transition: 0.5s;
}

nav .search-box {
    position: relative;
    float: right;
    height: 35px;
    width: 240px;
    display: flex;
    background-color: #f2f2f2;
    border-radius: 5px;
    margin-left: 10px;
}

nav .search-box input {
    height: 100%;
    width: 200px;
    border: 0;
    outline: 0;
    color: #000;
    border-radius: 5px 0 0 5px;
}

nav .search-box .icon {
    height: 100%;
    width: 40px;
    line-height: 40px;
    text-align: center;
    border: 1px solid #cccccc;
    border-radius: 0 5px 5px 0;
    cursor: pointer;
}

nav .search-box .icon:hover {
    background-color: #e21313;
    transition: 0.5s;
}

nav .search-box .icon span {
    color: #242e6e;
    font-size: 18px;
}

/* hamburger menu */

nav .menu-toggle {
    z-index: 2;
    position: absolute;
    display: none;
    flex-direction: column;
    height: 23px;
    justify-content: space-between;
}

nav .menu-toggle input {
    border: 1px solid black;
    position: absolute;
    width: 40px;
    height: 29px;
    opacity: 0;
    z-index: 1;
    left: -2px;
    top: -3px;
}

nav .menu-toggle span {
    display: block;
    border-radius: 5px;
    width: 30px;
    height: 3px;
    background-color: rgb(10, 135, 238);
    transition: all 0.5s;
}

/* hamburger menu animation */

.menu-toggle span:nth-child(2) {
    transform-origin:0 0;

}

.menu-toggle span:nth-child(4) {
    transform-origin:0 100%;
}

.menu-toggle input:checked ~ span:nth-child(2) {
    transform: rotate(45deg) translate(0px, 1.5px);
}

.menu-toggle input:checked ~ span:nth-child(4) {
    transform: rotate(-45deg) translate(-2px, 0px);
}

.menu-toggle input:checked ~ span:nth-child(3) {
    transform: scale(0);
}

/* bentuk tablet */
@media screen and (max-width: 981px) {
    nav {
        padding:10px 10px 10px 10px;
        position: fixed;
        left: 0;
        right: 0;
    }

    nav .logo {
        display: none;
    }

    nav ul {
        float: left;
    }

    nav .search-box {
        position: absolute;
        right: 20px;
        top: 14px;
    }
}

            /* bentuk mobile */

@media screen and (max-width: 682px) {
    nav {
        height: 62px;
        position: fixed;
        left: 0;
        right: 0;
    }

    nav .menu-toggle {
        display: flex;
        top: 19px;
        left: 25px;
    }

    nav {
        padding :9px 40px 9px 0;
    }

    nav ul {
        z-index: 1;
        position: absolute;
        top: 60px;
        background-color: #1b2041;
        right: 0;
        width:100%;
        display: inline-block;
        transition: all 1s;
        margin-right: 0px;
        transform: translatex(-160%);
    }

    nav ul.slide {
        transform: translatex(0%);
    }

nav ul li {
    line-height: 20px;
    text-align: center;
}

    nav ul li a{
        display: inline-block;
        border-radius: 0;
        width: 100%;
        height: 40px;
        border-bottom: 1px solid #000;
    }
}
