* {
    margin:0;
    padding: 0;
    box-sizing: border-box;
}


/* copy bagian ini */
aside .artikel-terkait table {
    border-collapse: collapse;
}

aside .artikel-terkait table td {
    border: 1px solid gray;
}

aside .artikel-terkait table td a {
    text-decoration: none;
    color: inherit;
    display: inline-block;
    padding: 3px;
}

aside .artikel-terkait table td:nth-child(1) {
    width: 40px;
    background-color: green;
    text-align: center;
}

aside .artikel-terkait table td:nth-child(2) {
    width: 220px;
    background-color: blue;
}
aside .artikel-terkait table td:nth-child(2) a:hover {
    background-color: rgb(231, 12, 12);
    transition: 0.5s;
}

